<a href="https://colab.research.google.com/github/dorelle876/Demo-repo/blob/main/Dorelle_copy_of_2_4_Loop_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [12]:
animals = ['dog','cat','elephant','deer','bear']

In [4]:
print(animals)

['dog', 'cat', 'elephant', 'deer', 'bear']

## 2.	Print out those variables by using a for loop

In [5]:
for animal in animals:
  print(animal)

dog
cat
elephant
deer
bear

## 3.	Modify your for loop to add a message to your for loop.

In [6]:
for animal in animals:
  print(animal + ' is the best animal I have never seen!' )

dog is the best animal I have never seen!
cat is the best animal I have never seen!
elephant is the best animal I have never seen!
deer is the best animal I have never seen!
bear is the best animal I have never seen!

## 4.	Use a for loop to print even numbers from 1-20.

In [7]:
for num in range(1,21):
  print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [9]:
numbers6 = list(range(2,21,2))
print(numbers6)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## 5.	Sort your list in alphabetic order.

In [10]:
animals.sort()

In [11]:
print(animals)

['bear', 'cat', 'deer', 'dog', 'elephant']

## 6.	Print out the first three elements of your list.

In [13]:
print(animals)

['dog', 'cat', 'elephant', 'deer', 'bear']

In [17]:
print(animals[0:3])

['dog', 'cat', 'elephant']

## 7.	Create a loop to print the last 2 elements of your list.

In [18]:
print(animals[0:2])

['dog', 'cat']